<h2>JavaScript coding questions</h2>

<p>1. Write a JavaScript function to calculate the sum of two numbers.</p>

<div id="q1"></div>

<p>2. Write a JavaScript program to find the maximum number in an array.</p>

<div id="q2"></div>

<p>3. Write a JavaScript function to check if a given string is a palindrome (or) Write a JavaScript program to reverse a given string. </p>

<div id="q3"></div>

<p>4. Write a JavaScript function that takes an array of numbers and returns a new array with only the even numbers. </p>

<div id="q4"></div>

<p>5. Write a function that removes duplicates from an array, keeping only the unique elements. </p>

<div id="q5"></div>

<p>6. Write a function that finds the second smallest element in an array of integers. </p>

<div id="q6"></div>