<h2>Template driven form example</h2>

<p>Template Driven Forms rely on directives defined in the FormsModule.The below example uses <strong>NgModel</strong> and <strong>NgForm</strong></p>

<p><strong>NgForm</strong> creates a top-level FormGroup instance, binds it to a <strong>form</strong> element to track form value and validation status.</p>

<p>Some of the built-in validators are <strong>required, minlength, maxlength & pattern</strong></p>

<form name="form" #form="ngForm" (ngSubmit)="form.form.valid && submitForm()" novalidate>
    <div class="form-field">
        <div class="form-field-labels">
        <label for="name">Username</label>
        </div>
        <input type="text" name="username" [(ngModel)]="user.username" minlength="5" #username="ngModel" required/>
        <div class="form-field-errors" style="color: red;">
            @if (username.invalid && username.touched && username.errors?.['required']) {
                <small>Username is required.</small>
            }
        </div>
        <div class="form-field-errors" style="color: red;">
            @if (username.errors?.['minlength']) {
                <small>Username must be atleast more than 5 characters.</small>
            }
        </div>
    </div>

    <div class="form-field">
        <div class="form-field-labels">
        <label for="name">Password</label>
        </div>
        <input type="password" name="password" [(ngModel)]="user.password" #password="ngModel" required/>
        <div class="form-field-errors" style="color: red;">
            @if (password.invalid && password.touched) {
                <small>Password is required.</small>
            }
        </div>
    </div>

    <div class="form-field-actions ">
        <button type="submit" [disabled]="form.form.invalid">Submit</button>
    </div>
</form>